<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.commit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
            android:allowBackup="true"
            android:appComponentFactory="whateverString"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:replace="android:appComponentFactory">
        <activity android:name=".IntroActivity.Signup3Activity"></activity>
        <activity android:name=".IntroActivity.Signup2Activity" />
        <activity
                android:name=".IntroActivity.Signup1Activity"
                android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity.CafeteriaActivity" />
        <activity android:name=".MainActivity.InsertReview" />

        <meta-data
                android:name="com.naver.maps.map.CLIENT_ID"
                android:value="4fk2n2jfrm" />

        <activity android:name=".MainActivity.ImageTestActivity" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.commit.Uniting.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepahts" />
        </provider>

        <activity android:name=".MainActivity.ReportActivity" />
        <activity
                android:name=".Popup.ReportPopup"
                android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".MainActivity.SearchActivity" />
        <activity android:name=".MainActivity.OpenChatListActivity" />
        <activity android:name=".MainActivity.ChatActivity" />
        <activity android:name=".MainActivity.DatingActivity" />
        <activity android:name=".IntroActivity.Join3Activity" />
        <activity android:name=".IntroActivity.Join1Activity" />
        <activity android:name=".IntroActivity.Join5Activity" />
        <activity android:name=".IntroActivity.Join4Activity" />
        <activity android:name=".IntroActivity.Join2Activity" />
        <activity android:name=".MainActivity.NoticeActivity" />
        <activity android:name=".MainActivity.PolicyActivity" />
        <activity android:name=".MainActivity.RuleActivity" />
        <activity android:name=".MainActivity.QuestionActivity" />
        <activity android:name=".MainActivity.AlarmActivity" />
        <activity android:name=".MainActivity.WriteActivity" />
        <activity android:name=".MainActivity.PostAcitivity" />
        <activity android:name=".MainActivity.MyPostActivity" />
        <activity android:name=".MainActivity.ProfileActivity" />
        <activity android:name=".MainActivity.MakeRoomActivity" />
        <activity android:name=".IntroActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity.GuideActivity" />
        <activity android:name=".MainActivity.InformActivity" />
        <activity android:name=".IntroActivity.JoinActivity" />
        <activity android:name=".IntroActivity.LoginActivity" />
        <activity android:name=".IntroActivity.AcFindActivity" />
        <activity android:name=".IntroActivity.UniversityActivity" />
        <activity android:name=".IntroActivity.IntroActivity" />
        <activity android:name=".MainActivity.MainActivity" />
    </application>

</manifest>