<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.commit">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity.ChatRoomListActivity">
        </activity>
        <activity android:name=".MainActivity.ChatActivity">
        </activity>
        <activity android:name=".ListItem.CafeHorizontalItem"/>
        <activity android:name=".Adapter.CafeHorizontalAdapter"/>
        <activity android:name=".Adapter.CafeVerticalAdapter"/>
        <activity android:name=".Fragment.CafeteriaFragment"/>
        <activity android:name=".MainActivity.MainActivty"/>
        <activity android:name=".MainActivity.DatingActivity"/>
        <activity android:name=".IntroActivity.Join3Activity"/>
        <activity android:name=".IntroActivity.Join1Activity"/>
        <activity android:name=".IntroActivity.Join5Activity"/>
        <activity android:name=".IntroActivity.Join4Activity"/>
        <activity android:name=".IntroActivity.Join2Activity"/>
        <activity android:name=".MainActivity.NoticeActivity"/>
        <activity android:name=".MainActivity.PolicyActivity"/>
        <activity android:name=".MainActivity.RuleActivity"/>
        <activity android:name=".MainActivity.QuestionActivity"/>
        <activity android:name=".MainActivity.AlarmActivity"/>
        <activity android:name=".MainActivity.WriteActivity"/>
        <activity android:name=".MainActivity.PostAcitivity"/>
        <activity android:name=".MainActivity.MyPostActivity"/>
        <activity android:name=".MainActivity.ProfileActivity"/>
        <activity android:name=".IntroActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity.GuideActivity"/>
        <activity android:name=".IntroActivity.JoinActivity"/>
        <activity android:name=".IntroActivity.LoginActivity"/>
        <activity android:name=".IntroActivity.AcFindActivity"/>
        <activity android:name=".IntroActivity.UniversityActivity"/>
        <activity android:name=".IntroActivity.IntroActivity"/>
        <activity android:name=".MainActivity.MainActivity"/>
    </application>

</manifest>